port: 7890
socks-port: 7891
allow-lan: true
mode: rule
log-level: info
ipv6: false
external-controller: '127.0.0.1:9090'

dns:
  enable: true
  listen: 0.0.0.0:1053
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
    - "*.lan"
    - "*.localhost"
  default-nameserver:
    - 1.1.1.1
    - 8.8.8.8
  nameserver:
    - https://1.1.1.1/dns-query
    - https://8.8.8.8/dns-query
  proxy-server-nameserver:
    - https://1.1.1.1/dns-query
    - https://8.8.8.8/dns-query
  fallback:
    - https://1.1.1.1/dns-query
    - https://8.8.8.8/dns-query
  respect-rules: true

proxies:
  - name: "德国"
    type: vmess
    server: 47.108.130.60
    port: 15821
    uuid: 4b64ce4d-72d5-463b-acba-90773c064ab8
    alterId: 0
    cipher: auto
    network: ws
    tls: false
    ws-opts:
      path: "/"
      headers:
        Host: pull.free.video.10010.com

  - name: "成都"
    type: vmess
    server: 47.108.130.60
    port: 49084
    uuid: 4b64ce4d-72d5-463b-acba-90773c064ab8
    alterId: 0
    cipher: auto
    network: ws
    tls: false
    ws-opts:
      path: "/"
      headers:
        Host: pull.free.video.10010.com

proxy-groups:
  - name: "国外流量"
    type: select
    proxies:
      - "德国"

  - name: "国内流量"
    type: select
    proxies:
      - "成都"

rules:
  # --- WebRTC 强力拦截 (更新版) ---
  # 拦截标准 STUN 端口 (3478)
  - AND,((NETWORK,UDP),(DST-PORT,3478)),REJECT
  # 拦截 Google 特有 STUN 端口 (19302) <--- 新增这条
  - AND,((NETWORK,UDP),(DST-PORT,19302)),REJECT
  
  # --- 分流规则 ---
  - GEOSITE,CN,国内流量
  - GEOIP,CN,国内流量
  - GEOSITE,Category-games@cn,国内流量
  
  # --- 兜底规则 ---
  - MATCH,国外流量
