Port: 7890
socks-port: 7891
allow-lan: true
mode: rule
log-level: info
ipv6: false
external-controller: '127.0.0.1:9090'

geodata-mode: true
geo-auto-update: true
geo-update-interval: 24
geox-url:
  geoip: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip.dat"
  geosite: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geosite.dat"
  mmdb: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/country.mmdb"

dns:
  enable: true
  listen: 0.0.0.0:1053
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
    - "*.lan"
    - "*.localhost"
  default-nameserver:
    - 1.1.1.1
    - 8.8.8.8
  nameserver:
    - https://1.1.1.1/dns-query
    - https://8.8.8.8/dns-query
  proxy-server-nameserver:
    - https://1.1.1.1/dns-query
    - https://8.8.8.8/dns-query
  fallback:
    - https://1.1.1.1/dns-query
    - https://8.8.8.8/dns-query
  respect-rules: true

proxies:
  - name: "美国"
    type: vmess
    server: 47.108.229.151
    port: 40539
    uuid: c8ccc5cd-fb5d-42ed-987f-36dec6152818
    alterId: 0
    cipher: auto
    udp: true
    xudp: true
    network: ws
    ws-opts:
      path: "/"
      headers:
        Host: pull.free.video.10010.com

  - name: "成都"
    type: vmess
    server: 47.108.229.151
    port: 46513
    uuid: c8ccc5cd-fb5d-42ed-987f-36dec6152818
    alterId: 0
    cipher: auto
    udp: true
    xudp: true
    network: ws
    ws-opts:
      path: "/"
      headers:
        Host: pull.free.video.10010.com

proxy-groups:
  - name: "国外流量"
    type: select
    proxies:
      - "美国"

  - name: "国内流量"
    type: select
    proxies:
      - "成都"

rules:

  - AND,((NETWORK,UDP),(DST-PORT,443)),REJECT
  - AND,((NETWORK,UDP),(DST-PORT,3478)),REJECT
  - AND,((NETWORK,UDP),(DST-PORT,19302)),REJECT
  - GEOSITE,google-play,国外流量
  - GEOSITE,google,国外流量
  - GEOSITE,CN,国内流量
  - GEOIP,CN,国内流量
  
  - MATCH,国外流量
